import { useRouter } from "next/router";
import { Wrap } from "./style";
import {
	Select,
	Option,
	Label,
	InputSeparator,
	Input,
} from "../account/PropSect/style";
import { useState, useRef, useEffect } from "react";
import {
	TimePickerWrapper,
	TimePicker,
	GoUp,
	GoDown,
	Time,
} from "../account/ShowingSect/style";
import DayPicker from "react-day-picker";
import arrow from "../../public/images/arrow.png";
import Image from "next/image";
import { formatDate } from "../../data";
import moment from "moment";

const isEarlierThanEndLimit = (timeValue, endLimit, lastValue) => {
	const timeValueIsEarlier =
		moment(timeValue, "h:mmA").diff(moment(endLimit, "h:mmA")) < 0;
	const timeValueIsLaterThanLastValue =
		lastValue === undefined
			? true
			: moment(lastValue, "h:mmA").diff(moment(timeValue, "h:mmA")) < 0;
	return timeValueIsEarlier && timeValueIsLaterThanLastValue;
};

const dateInPast = function (firstDate, secondDate) {
	if (firstDate.setHours(0, 0, 0, 0) <= secondDate.setHours(0, 0, 0, 0)) {
		return true;
	}
	return false;
};

const BookShowing = ({ info }) => {
	const router = useRouter();
	let { email } = router.query;

	const [value, setValue] = useState();
	const [selecteDate, setSelecteDate] = useState();
	const [get_duration, set_get_duration] = useState("");
	const [timeToSelect, setTimeToSelect] = useState([]);

	const mm = useRef(null);
	const today = new Date();
	const [brokenLink, setBrokenLink] = useState(info.length ? true : false);

	const availableDates = info[0]?.date.map((el) => {
		let good = new Date(el);
		const selectedDate = new Date(el);
		const now = new Date();
		now.setHours(0, 0, 0, 0);
		if (!(selectedDate < now)) {
			return good;
		}
	});

	const modifiers = {
		disabled: { daysOfWeek: [6] },
		showingDate: availableDates,
	};

	const modifiersStyles = {
		showingDate: {
			color: "white",
			backgroundColor: "#6969f3",
		},
		monday: {
			color: "#ffc107",
			backgroundColor: "#fffdee",
		},
	};

	useEffect(() => {
		if (value !== undefined) {
			let found = false;
			availableDates.map((el) => {
				const selectedDate = formatDate(new Date(value));
				const currElem = formatDate(new Date(el));
				if (currElem == selectedDate) found = true;
			});
			!found ? setSelecteDate() : setSelecteDate(value);
		}
	}, [value]);

	useEffect(() => {
		if (get_duration !== "") {
			let firstFrom = info[0]?.time[0].from;
			let fristTo = info[0]?.time[0].to;

			let from = firstFrom.includes("AM")
				? firstFrom.replace("AM", "")
				: firstFrom.replace("PM", "");

			let to = fristTo.includes("AM")
				? fristTo.replace("AM", "")
				: fristTo.replace("PM", "");

			const today = formatDate(new Date());
			console.log(new Date(`${today} ${from}`));

			// if (dateInPast(new Date(today), today)) {
			// }

			let timeValue = firstFrom;
			let lastValue;
			const endLimit = fristTo;
			const step = get_duration;
			const options = [];
			options.push(timeValue);
			while (isEarlierThanEndLimit(timeValue, endLimit, lastValue)) {
				lastValue = timeValue;
				timeValue = moment(timeValue, "h:mmA")
					.add(step, "minutes")
					.format("h:mmA");
				typeof timeValue !== "object" && options.push(timeValue);
			}

			setTimeToSelect(options);
		}
	}, [get_duration]);

	return (
		<Wrap link={brokenLink}>
			<form>
				{brokenLink && (
					<>
						<div className="duration">
							<h3 title="Fill in your details">
								Fill in your details
							</h3>
							<InputSeparator>
								<Label>Name *</Label>
								<Input
									type={"text"}
									required={true}
									name="name"
								/>
								<br /> <br />
								<Label>Email *</Label>
								<Input
									type={"email"}
									required={true}
									name="email"
								/>
							</InputSeparator>
							<Label>Duration *</Label>
							<Select
								onChange={(e) => {
									set_get_duration(e.target.value);
								}}
								value={get_duration}
								required={true}
							>
								<Option value={""} disabled>
									----- Select a duration -----
								</Option>
								{info[0].duration.map((duration, id) => {
									let time = parseInt(duration);
									let format =
										time < 60
											? `${time} minutes`
											: time < 120
											? `${time / 60} hour`
											: `${time / 60} hours`;
									return (
										<Option value={time} key={id}>
											{`${format}`}
										</Option>
									);
								})}
							</Select>
						</div>

						<div className="date">
							{selecteDate == undefined ? (
								<h3>Select a valid day</h3>
							) : (
								<h3>{formatDate(selecteDate, true)}</h3>
							)}

							<DayPicker
								fromMonth={today}
								toMonth={
									new Date(
										today.getUTCFullYear(),
										today.getUTCMonth() + 2
									)
								}
								selectedDays={value}
								onDayClick={setValue}
								modifiers={modifiers}
								modifiersStyles={modifiersStyles}
								disabledDays={[
									new Date(2017, 3, 12),
									new Date(2017, 3, 2),
									{
										after: new Date(2017, 3, 20),
										before: new Date(),
									},
								]}
							/>
						</div>

						<div className="time">
							<TimePickerWrapper>
								<h3>Choose a convinient time</h3>
								<TimePicker>
									<GoUp>
										<div>
											<Image src={arrow} alt="" />
										</div>
									</GoUp>
									{get_duration && (
										<div className="timeConainer">
											{timeToSelect.map((el, i) => (
												<Time
													onClick={(e) => {}}
													key={i}
												>
													{el}
												</Time>
											))}
										</div>
									)}
									{!get_duration && (
										<div className="timeConainer">
											<Time onClick={(e) => {}}>
												Select a duration
											</Time>
										</div>
									)}

									<GoDown>
										<div>
											<Image src={arrow} alt="" />
										</div>
									</GoDown>
								</TimePicker>
							</TimePickerWrapper>
						</div>
					</>
				)}

				{brokenLink || (
					<>
						<h2>This link is invalid!!</h2>
						<p>
							Sorry it appears that it is <b>broken</b> or{" "}
							<b>expired</b> please contact <b>{email}</b>.
						</p>
					</>
				)}
			</form>
		</Wrap>
	);
};

export default BookShowing;
