.react-calendar {
	width: 350px;
	max-width: 100%;
	background: white;
	border: 1px solid #a0a096;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
}
.react-calendar--doubleView {
	width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.react-calendar button {
	margin: 0;
	border: 0;
	outline: none;
}
.react-calendar button:enabled:hover {
	cursor: pointer;
}
.react-calendar__navigation {
	display: flex;
	height: 44px;
	margin-bottom: 1em;
}
.react-calendar__navigation button {
	min-width: 44px;
	background: none;
}
.react-calendar__navigation button:disabled {
	background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75em;
	font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
	color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
	color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 2em 0.5em;
}
.react-calendar__tile {
	max-width: 100%;
	padding: 10px 6.6667px;
	background: none;
	text-align: center;
	line-height: 16px;
}
.react-calendar__tile:disabled {
	background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #e6e6e6;
}
.react-calendar__tile--now {
	background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #ffffa9;
}
.react-calendar__tile--hasActive {
	background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
}
.react-calendar__tile--active {
	background: #006edc;
	color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #e6e6e6;
}

abbr,
span,
.react-calendar,
button {
	font-family: "Montserrat", sans-serif;
}

.timeBackground {
	background-color: #fff;
}

.activeTimeBackground {
	background-color: #006edc !important;
	color: #fff !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	font-family: "Montserrat", sans-serif;
	-moz-appearance: textfield;
}

.date-iput {
	height: 3em !important;
	width: 100% !important;
	border-radius: 5px;
	padding-left: 10px;
	border: 1px solid #8b8b8b;
	font-family: "Montserrat", sans-serif;
	@media screen and (min-width: 600px) {
	}
}

.disabled {
	opacity: 0.5;
	cursor: auto;
}

.disabled:hover {
	cursor: auto;
}

.serverError {
	color: red;
	font-weight: 500;
}

.ribbon {
	width: 150px;
	height: 150px;
	position: absolute;
	z-index: 1;
	top: 0px;
	right: 0px;
	overflow: hidden;
}

.ribbon span {
	position: absolute;
	top: 30px;
	/* right: 0; */
	transform: rotate(45deg);
	width: 200px;
	background: #810808;
	padding: 5px 0;
	color: #fff;
	text-align: center;
	/* font-size: 17px; */
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.timeSelected {
	background-color: #6969f3;
	color: #fff;
}

.timeSelected:hover {
	background-color: #adadff !important;
	color: #fff !important;
}

.ribbon-down {
	width: 150px;
	height: 150px;
	position: absolute;
	z-index: 1;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
}

.ribbon-down span {
	position: absolute;
	bottom: 30px;
	/* right: 0; */
	transform: rotate(-45deg);
	width: 200px;
	background: #810808;
	padding: 10px 0;
	color: #fff;
	text-align: center;
	/* font-size: 17px; */
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

div.status > span {
	background: #09da02;
}

.align-left {
	text-align: left;
	cursor: pointer;
}

.align-left > hr {
	border: 1px solid #f3f3f3;
}

.loading,
.loading-full {
	border-radius: 15px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
	height: 100%;
	opacity: 0.75;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}

.loading-full {
	height: 100vh;
	border-radius: 0px;
}

.loader {
	border: 6px solid #f3f3f3;
	border-radius: 50%;
	border-top: 6px solid #3498db;
	width: 100px;
	height: 100px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
